body {
    background-color: rgb(238, 238, 238);
    background-position: center;
    background-size: cover;
    font-family: cursive;
}

.card {
  margin-left: 4rem;
  margin-right:4rem;
  display:initial;
  text-align:center;
}

.heading {
  font-size: 40px;
  font-weight: 1000, bolder;
  font-family: cursive;
  margin: 18px auto 40px;
  text-align: center;
}

.image {
  margin: 10px auto 10px;
}

.card-body {
  background-color: rgb(179, 179, 179);
  border-style: groove;
}

.form-control {
  border-style: solid;
  background-size: 100px;
  width: 98px;
  height: 26px;  
}

#cantidad-dinero {
  width: 250px;
  margin: 10px 10px;
}

.imput-group {
margin: 10px 10px;  
}

span {
  color: white;
  size: 100px;
  background-color: rgb(60, 153, 60);
}

button {
  margin: 25px auto 2px;
  width: 119px;
  height: 28px;
}

.btn {
  color: white;
  background-color: rgb(60, 153, 60);
  font-family: cursive;
}

.finalValue {
  size: 200px;
  color: rgb(60, 153, 60);
  font-family: cursive;
}